@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap");

body,
html,
ul {
  width: 100%;
  height: 100%;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a,
h4 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
}

p {
  font-size: 1.2em;
  line-height: 1.7em;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
}

h2 {
  color: #ff86c9;
  margin-block: 0;
  font-size: 2em;
  line-height: 1.4em;
}

p,
ul {
  font-family: "Montserrat", sans-serif;
}

.container {
  margin-left: 5rem;
  max-width: 80%;
}

img {
  max-width: 100%;
  display: block;
}

.logo {
  cursor: pointer;
}

.btn {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;

  &:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
  }
  span {
    position: absolute;
    display: block;
  }
  span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
  }
  &:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
  }
  &:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
  }
  &:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
  }
  &:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

.nav {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 53%;
  align-items: center;
  width: 100%;
  img {
    display: block;
    width: 9rem;
    top: 0;
    padding: 1em;
    position: absolute;
    left: 3rem;
  }
  ul {
    margin-left: 60%;
    margin-top: 2rem;
    width: 40%;
    padding-block: 1em;
    padding-right: 4em;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1em);
    display: flex;
    justify-content: flex-end;
    text-transform: none;
    font-family: "Poppins", sans-serif;

    & > * + * {
      margin-left: 4rem;
    }

    li a {
      color: white;
      font-size: 1rem;
      padding-block: 0.2em;
      transition: all 0.5s;
    }
    a:hover,
    .active {
      border-bottom: 0.1em solid white;
    }
  }
}

.hero,
.welcome,
footer {
  .container {
    margin-left: 7rem;
  }
}

.hero {
  position: relative;
  overflow: hidden;
  background-image: url(https://media.istockphoto.com/photos/3d-abstract-background-with-ultraviolet-neon-lights-empty-frame-picture-id1191719793?b=1&k=20&m=1191719793&s=170667a&w=0&h=TFX3sgTsQnbz7QBMxnYbuhbJdaTQuNzGBJ1jUUox1xo=);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: slide 15s infinite;
  height: 100vh;

  .content {
    width: 50%;
    padding-top: 10rem;
    h1,
    p {
      color: white;
    }
    h1 {
      font-size: 3.5em;
      line-height: 1.2em;
    }
    p {
      margin-block: 1em 1.2em;
      margin-right: 1em;
    }
  }

  .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.welcome {
  background: linear-gradient(90deg, #3f0456, #9a08d7);

  .container {
    display: flex;
    padding-block: 3rem;
    gap: 2.4rem;
    & > * {
      flex-basis: 100%;
    }
    p {
      margin-top: 0.8em;
      color: white;
    }
  }
}

.works {
  background-image: url(./neon-bg.jpg);
  background-size: cover;
  background-position: center;
  padding-block: 3rem;

  h2 {
    color: #9fedd7;
    text-align: center;
    margin-bottom: 1.3em;
  }
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "left right" "left2 right2" "bottom bottom2";
    gap: 2rem;
    width: 100%;

    .card {
      position: relative;
      flex-basis: 100%;
      margin: 30px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      padding-block: 1.2rem 2rem;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.4);
      border-top: 1px solid rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

      & > * {
        padding-inline: 2rem;
      }

      .card-title,
      h4,
      p {
        color: white;
        margin-bottom: 1.2em;
      }
      p {
        font-size: 0.8em;
      }
      .blog-list > * {
        margin-top: 1.4rem;
        display: flex;
        gap: 1.2rem;
        & > * {
          flex-basis: 100%;
        }
        img {
          width: 100%;
          cursor: pointer;
        }
        h4 {
          font-size: 1em;
          font-weight: normal;
          &:hover {
            color: #9fedd7;
          }
        }
      }
    }

    .card-title {
      line-height: 1.8;
      border-bottom: 1px solid #edeae5;
    }

    .card_1 {
      grid-area: left;
      .main-img {
        height: 18.4rem;
      }
    }
    .card_2 {
      grid-area: right;
    }
    .card_3 {
      grid-area: left2;
    }
    .card_4 {
      grid-area: right2;
    }
    .card_5 {
      grid-area: bottom;
    }
    .card_6 {
      grid-area: bottom2;
    }

    .subtitle {
      margin-block: 0.4em;
    }

    h3 {
      font-size: 1.5em;
      color: white;
      &:hover {
        color: #9fedd7;
      }
    }
    img:hover {
      opacity: 0.7;
    }
  }
}

/* CONTACT SECTION */

footer {
  background: black;
  color: white;
  .container {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 2rem;
    grid-template-areas: "topL topM topR" "bottomL bottomR bottomR";

    h5 {
      color: #fef9c7;
      font-size: 1.5em;
      margin-bottom: 1em;
    }
    li {
      line-height: 2;
      a {
        color: white;
        &:hover {
          color: gray;
        }
      }
    }
    .logo,
    .company,
    .support {
      margin-inline: auto;
    }
    .logo {
      grid-area: topL;
      overflow: hidden;
      img {
        margin-left: 50%;
        margin-top: -5.5rem;
        transform: translateX(-50%);
        width: 100%;
      }
    }
    .company {
      grid-area: topM;
    }
    .support {
      grid-area: topR;
    }
    .copyright {
      position: relative;
      grid-area: bottomL;
      p {
        position: absolute;
        bottom: 2rem;
        left: 0;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
      }
    }
    .socials {
      grid-area: bottomR;
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2rem;
        svg {
          width: 50%;
        }
        a:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

@keyframes slide {
  0% {
    background-image: url(https://media.istockphoto.com/photos/3d-abstract-background-with-ultraviolet-neon-lights-empty-frame-picture-id1191719793?b=1&k=20&m=1191719793&s=170667a&w=0&h=TFX3sgTsQnbz7QBMxnYbuhbJdaTQuNzGBJ1jUUox1xo=);
  }
  33% {
    background-image: url(https://s3.envato.com/files/6bb28ff9-471b-485e-880a-8947ce1d9e8e/inline_image_preview.jpg);
  }
  67% {
    background-image: url(https://media.istockphoto.com/photos/3d-render-abstract-pink-blue-violet-neon-background-music-performance-picture-id1155272611?k=20&m=1155272611&s=170667a&w=0&h=Ofrsdpk6GEYhy7frVLKqp71y1SytsOv6g70MwOvwfwE=);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1.2s both;
}
.fadeInRight {
  animation: fadeInRight 1.2s both;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*ABOUT US*/
